<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>
<body>
    <form action = "/submit" method="post">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <input name="title" type="text" class="feedback-input" placeholder="Post title" />
        <textarea name="content" class="feedback-input" placeholder="Write here..."></textarea>
        <input type="submit" value="Create Post" />
      </form>
      <%if (locals.createdPosts){%>
      
      <%createdPosts.forEach((post) => {%>
        <h2><%= post.title%></h2>
        <p>By: <%=post.user%> <br>Post ID:<%=post.id%></p>
        <br>
        <p><%=post.body%></p>
        <br>
        <button>Edit Post</button>
        <form action = "/update" method="post">
            <input name="postId" type="text" class="feedback-input" value="<%=post.id%>" readonly/>
            <input name="name" type="text" class="feedback-input" value="<%=post.user%>" />
            <input name="title" type="text" class="feedback-input" value="<%=post.title%>" />
            <textarea name="content" class="feedback-input"><%=post.body%></textarea>
            <input type="submit" value="Save Changes"/>
          </form>
          <br>
        <form action = "/delete" method="post">
            <label for="postId">Post ID</label>
            <input name="postId" type="text" class="feedback-input" value="<%=post.id%>" readonly/>
            <input type="submit" value="Delete Post" />
          </form>
        <p><%=post.time%></p>
        <hr>
        <br>
      <%});%>

      <%}%>
</body>
</html>